<div class="accessory">
    {{!-- {{#if isCreator}} --}}
    <a href="/accessories/{{prod_id}}/remove/{{_id}}" class="detachAccessory"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWU3KNZYCRF1CdCHh7WX96ojoYqrDHMEP_uA&usqp=CAU"
            alt="cross"></a>
    {{!-- {{/if}} --}}
    <img src="{{imageUrl}}" alt="{{name}} image">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
</div>