<img class="cube" src="{{imageUrl}}">
<p class="name">{{name}}</p>
<p><span>Difficulty level:</span> {{difficultyLevel}}</p>
<a class="btn" href="/cubes/details/{{_id}}">Details</a>
{{!-- {{#if isCreator}}
<a class="btn" href="/cubes/edit/{{_id}}">Edit</a>
{{/if}} --}}
{{!-- <a class="btn" href="/accessory/{{_id}}/attach">Attach Accessory</a> --}}